html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2E2E2E;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
}

.btn-round:hover {
  background-color: #00C470;
}

.search {
  position: relative;
  margin-left: auto;
  z-index: 9;
}
.search__input {
  width: 0px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  background-color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  transition: width 0.2s ease-in;
  color: black;
}
.search__input::-moz-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input:-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  transition: background 0.2s ease-in;
}
.search__btn:hover {
  background-color: #00C470;
}
.search__btn:hover .search__btn-icon {
  stroke: white;
}
.search__btn-icon {
  stroke: black;
  transition: stroke 0.2s ease-in;
}

.search.search--visible .search__input {
  width: 340px;
  padding-left: 30px;
  padding-right: 70px;
  /* MobileXS */
}
@media (max-width: 599px) {
  .search.search--visible .search__input {
    width: 220px;
    font-size: 14px;
  }
}
.search.search--visible .search__btn {
  background-color: #00C470;
}
.search.search--visible .search__btn .search__btn-icon {
  stroke: white;
}
.search.search--visible .search__btn:hover {
  background-color: #15D784;
}

.nav-icon-wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.nav-icon-wrapper:hover {
  background-color: #00C470;
}
.nav-icon-wrapper:hover .nav-icon,
.nav-icon-wrapper:hover .nav-icon::before,
.nav-icon-wrapper:hover .nav-icon::after {
  background-color: white;
}

.nav-icon.nav-icon--active {
  position: fixed;
  z-index: 999;
}

.nav-icon-wrapper.nav-wrapper--active {
  position: fixed;
  z-index: 999;
}

.nav-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 3px;
  border-radius: 2px;
  background-color: #000;
  transition: background-color 0.2s ease-in;
}
.nav-icon::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, background-color 0.2s ease-in;
}
.nav-icon::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 3px;
  border-radius: 2px;
  background-color: #000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, background-color 0.2s ease-in;
}

/* Active state */
.nav-icon--active {
  background-color: transparent !important;
}
.nav-icon--active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.nav-icon--active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in, top 0s linear 0.2s;
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  text-align: center;
  /* MobileXS */
}
@media (max-width: 599px) {
  .nav__list {
    row-gap: 30px;
  }
}

.nav a {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  transition: color 0.2s ease-in;
  color: white;
  /* MobileXS */
}
@media (max-width: 599px) {
  .nav a {
    font-size: 18px;
  }
}
.nav a:hover {
  color: #15D784;
}

.nav.nav--active {
  top: 0;
  opacity: 1;
  z-index: 99;
  transition: top 0s linear, opacity 0.2s ease-in;
}

.nav__top {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /* MobileXS */
}
@media (max-width: 599px) {
  .nav__top {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.input {
  width: 100%;
  height: 60px;
  padding: 0px 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.75);
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
}

.input:focus {
  background: rgb(0, 0, 0);
}

.input::-moz-placeholder {
  color: white;
}

.input:-ms-input-placeholder {
  color: white;
}

.input::placeholder {
  color: white;
}

.btn {
  flex-shrink: 0;
  flex-grow: 0;
  height: 60px;
  padding: 0px 40px 0px 41px;
  border-radius: 30px;
  background-color: #00C470;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
}
.btn:hover {
  background-color: #01b868;
}
.btn:focus {
  background-color: #00ad62;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /* Mobile */
}
@media (max-width: 899px) {
  .title {
    font-size: 14px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle {
    font-size: 26px;
  }
}

.card {
  width: 270px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .card {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .card {
    width: 269px;
  }
}
@media (max-width: 599px) {
  .card {
    width: 290px;
  }
}
.card__img {
  margin-bottom: 40px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__img {
    margin-bottom: 20px;
  }
}
.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .card__title {
    min-height: 32px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .card__title {
    min-height: unset;
  }
}
.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__text {
    line-height: 1.57;
  }
}

.package {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 40px 0px;
  text-align: center;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}
.package__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.package__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B2B2B2;
}
.package__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.package__period {
  display: inline-block;
  height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.package__list {
  margin-bottom: 58px;
  padding: 40px 15px 0px;
}
.package__item {
  margin-bottom: 25px;
}
.package__item:last-child {
  margin-bottom: 0px;
}
.package__btn {
  margin-top: auto;
}
.package--special {
  background: rgba(48, 79, 254, 0.95);
}
.package--special .package__title {
  color: white;
}
.package--special .package__period {
  background: rgba(0, 0, 0, 0.1);
}

.btn-outline {
  height: 60px;
  padding: 0px 40px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
}
.btn-outline:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
}
.btn-outline:focus {
  background-color: black;
}

.btn-solid {
  height: 60px;
  padding: 0px 40px;
  border-radius: 30px;
  background-color: white;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2E2E2E;
}
.btn-solid:hover {
  background-color: black;
  color: white;
}
.btn-solid:focus {
  background-color: #2F2F2F;
  color: white;
}

.slider {
  position: relative;
  padding-bottom: 54px;
  /* Mobile */
}
@media (max-width: 899px) {
  .slider {
    padding-bottom: 44px;
  }
}
.slider__pagination {
  position: absolute;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.slider__pagination-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #E1E1E1;
}
.slider__pagination-item--active {
  background-color: #00C470;
}
.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-item__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: black;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
.slider-item__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}
.slider-item__author {
  display: flex;
  align-items: center;
}
.slider-item__author-desc {
  font-weight: 500;
  font-size: 16px;
  /* MobileXS */
}
@media (max-width: 599px) {
  .slider-item__author-desc {
    font-size: 14px;
  }
}
.slider-item__author-title {
  margin-bottom: 5px;
  color: #00C470;
}
.slider-item__author-name {
  color: #808080;
}
.slider-item__avatar {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 50%;
  /* MobileXS */
}
@media (max-width: 599px) {
  .slider-item__avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}
.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #F5F5F5;
  transition: background-color 0.2s ease-in;
  /* MobileXS */
}
.slider__arrow-svg {
  stroke: #00C470;
  transition: stroke 0.2s ease-in;
}
.slider__arrow:hover {
  background-color: #00C470;
}
.slider__arrow:hover .slider__arrow-svg {
  stroke: white;
}
.slider__arrow--left {
  top: 53px;
  left: -46px;
  transform: translateX(-100%);
  /* Tablet */
}
@media (max-width: 949px) {
  .slider__arrow--left {
    left: -30px;
  }
}
.slider__arrow--right {
  top: 53px;
  right: -46px;
  transform: translateX(100%);
  /* Tablet */
}
@media (max-width: 949px) {
  .slider__arrow--right {
    right: -30px;
  }
}
@media (max-width: 599px) {
  .slider__arrow {
    display: none;
  }
}

.section-clients__slider {
  position: relative;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #E1E1E1;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #00C470;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 35px;
  /* Mobile */
}
@media (max-width: 899px) {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 25px;
  }
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  margin: 5px 5px;
  background: #E1E1E1;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #00C470;
}

.header {
  position: relative;
  z-index: 99;
  padding-top: 60px;
  padding-bottom: 100px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./../img/bg/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .header {
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .header {
    padding-bottom: 40px;
  }
}

.header__btns {
  display: flex;
  justify-content: space-between;
  margin: 0px auto 142px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
}
.header__btns-search {
  margin-left: auto;
}
@media (max-width: 1199px) {
  .header__btns {
    width: 100%;
    margin-bottom: 100px;
  }
}
@media (max-width: 899px) {
  .header__btns {
    margin-bottom: 30px;
  }
}

.header__content {
  margin-bottom: 148px;
  text-align: center;
  color: white;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .header__content {
    margin-bottom: 129px;
  }
}
@media (max-width: 899px) {
  .header__content {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__content {
    margin-bottom: 50px;
  }
}

.header__title {
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 96px;
  line-height: 92px;
  text-transform: uppercase;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
    font-size: 84px;
    line-height: 1;
  }
}
@media (max-width: 899px) {
  .header__title {
    margin-bottom: 30px;
    font-size: 70px;
  }
}

.header__desc {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
.header__desc p + p {
  margin-top: 15px;
}
@media (max-width: 1199px) {
  .header__desc {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: normal;
  }
}
@media (max-width: 899px) {
  .header__desc {
    max-width: 430px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .header__desc {
    margin-bottom: 30px;
  }
}

.header__form {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  /* Mobile */
  /* MobileXS */
}
.header__form-input {
  width: 240px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form-input {
    width: 100%;
  }
}
@media (max-width: 899px) {
  .header__form {
    flex-direction: column;
    align-items: stretch;
    row-gap: 20px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 599px) {
  .header__form {
    width: 290px;
  }
}

.header__scroll {
  text-align: center;
}

.section-functional {
  padding: 80px 0px;
  /* Tablet */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-functional {
    padding: 50px 0px;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding: 40px 0px;
  }
}
.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 40px;
  }
}
.section-functional__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}
.section-functional__row {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.section-functional__row > * {
  flex-shrink: 0;
}

.section-cta {
  padding: 83px 0px 84px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./../img/bg/section-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-cta {
    padding: 40px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./../img/bg/section-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .section-cta {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./../img/bg/section-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .section-cta {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./../img/bg/section-xs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.section-cta__content {
  text-align: center;
  color: white;
}
.section-cta__content a {
  display: inline-block;
}
.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  /* Mobile */
  /* MobileXS */
}
.section-cta__title span {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 899px) {
  .section-cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-tasks {
  padding: 80px 0px 40px;
  border-bottom: 1px solid #E1E1E1;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-tasks {
    padding: 50px 0px 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding: 52px 0px 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding: 40px 0px 40px;
  }
}
.section-tasks__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 114px;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
.section-tasks__row > * {
  flex-shrink: 0;
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0px;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    flex-direction: row-reverse;
    padding-left: 0px;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    flex-direction: column-reverse;
  }
}
.section-tasks__content {
  width: 570px;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    text-align: center;
  }
}
.section-tasks__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}
.section-tasks__title {
  margin-bottom: 30px;
  /* Tablet */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}
.section-tasks__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
  /* Mobile */
}
.section-tasks__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-tasks__text {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-tasks__text {
    width: 270px;
  }
}
.section-tasks__img {
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-tasks__img {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .section-tasks__img {
    width: 270px;
    line-height: 1.71;
  }
}
@media (max-width: 599px) {
  .section-tasks__img {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .section-tasks__img img {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-focus {
  padding: 80px 0px 40px;
  overflow-x: hidden;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-focus {
    padding: 50px 0px 20px;
  }
}
@media (max-width: 899px) {
  .section-focus {
    padding-bottom: 0px;
  }
}
@media (max-width: 599px) {
  .section-focus {
    padding: 40px 0px;
  }
}
.section-focus__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Mobile */
  /* MobileXS */
}
.section-focus__row > * {
  flex-shrink: 0;
}
@media (max-width: 899px) {
  .section-focus__row {
    flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    flex-direction: column;
  }
}
.section-focus__img {
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-focus__img {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__img {
    width: 170px;
  }
  .section-focus__img img {
    max-width: unset;
    width: 415px;
    height: 330px;
    height: unset;
  }
}
@media (max-width: 599px) {
  .section-focus__img {
    width: 100%;
  }
  .section-focus__img img {
    max-width: 100%;
    width: unset;
    height: auto;
  }
}
.section-focus__content {
  width: 470px;
  padding-top: 28px;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-focus__content {
    width: 420px;
    padding-top: 12px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    width: 290px;
    text-align: center;
  }
}
.section-focus__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}
.section-focus__title {
  margin-bottom: 30px;
  /* Tablet */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-focus__title {
    margin-bottom: 10px;
  }
}
.section-focus__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
.section-focus__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-focus__text {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__text {
    width: 370px;
    line-height: 1.71;
  }
}
@media (max-width: 599px) {
  .section-focus__text {
    width: 100%;
  }
}

.section-price {
  padding: 90px 0px 100px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./../img/bg/plan-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-price {
    padding: 50px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./../img/bg/plan-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .section-price {
    padding: 50px 0px 40px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./../img/bg/plan-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .section-price {
    padding: 40px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./../img/bg/plan-xs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.section-price .title, .section-price .subtitle {
  color: white;
}
.section-price__header {
  margin-bottom: 80px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-price__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price__header {
    margin-bottom: 40px;
  }
}
.section-price__title {
  margin-bottom: 40px;
  /* Tablet */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-price__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-price__title {
    margin-bottom: 10px;
  }
}
.section-price__row {
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  /* Mobile */
  /* MobileXS */
}
.section-price__row > * {
  width: 300px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-price__row > * {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .section-price__row > * {
    width: 300px;
  }
}
@media (max-width: 899px) {
  .section-price__row {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 599px) {
  .section-price__row {
    width: 290px;
  }
}

.section-clients {
  padding: 80px 0px;
  /* Tablet */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-clients {
    padding: 50px 0px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    padding: 40px 0px;
  }
}
.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}
.section-clients__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}
.section-clients__slider {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 290px;
  }
}

.footer {
  padding: 70px 0px;
  background-color: #1A1A1A;
  color: white;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .footer {
    padding: 60px 0px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding: 50px 0px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding: 40px 0px;
  }
}
.footer__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  /* Tablet */
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    row-gap: 40px;
    margin-bottom: 40px;
  }
}
.footer__nav {
  margin-right: 50px;
  /* Mobile */
  /* MobileXS */
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0px;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.footer__nav-item {
  margin-right: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  /* MobileXS */
}
@media (max-width: 599px) {
  .footer__nav-item {
    margin-right: 0px;
  }
}
.footer__nav-item:hover {
  color: #15D784;
}
.footer__nav-item:last-child {
  margin-right: 0px;
}
.footer__socials {
  display: flex;
}
.footer__socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-right: 30px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.1);
  /* MobileXS */
}
@media (max-width: 599px) {
  .footer__socials-item {
    margin-right: 20px;
  }
}
.footer__socials-item:hover {
  background-color: #00C470;
}
.footer__socials-item:last-child {
  margin-right: 0px;
}
.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.footer__copyright p + p {
  margin-top: 15px;
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}/*# sourceMappingURL=main.css.map */