$line-width: 20px;
$line-height: 3px;
$radius: 2px;
$lineMargin: 4px;
$color: #000;

// $width: $line-width;
// $height: $line-height * 3 + $lineMargin * 2;

$width: 60px;
$height: 60px;

.nav-icon-wrapper {
    width: $width;
    height: $height;

    display: flex;
	justify-content: center;
	align-items: center;
    flex-shrink: 0;

    border-radius: 50%;
    background-color: white;

    cursor: pointer;

    transition: background-color 0.2s ease-in;

    &:hover{
        background-color: $main-green;

        .nav-icon,
        .nav-icon::before,
        .nav-icon::after{
            background-color: white;
        }
    }
}

.nav-icon.nav-icon--active{
    position: fixed;
    z-index: 999;
}

.nav-icon-wrapper.nav-wrapper--active{
    position: fixed;
    z-index: 999;
}

.nav-icon {
    display: block;
    position: relative;
    width: $line-width;
    height: $line-height;

    border-radius: $radius;
    background-color: $color;

    transition: background-color 0.2s ease-in;

    &::before {
        content: "";
    
        position: absolute;
        top: -($line-height + $lineMargin);
        left: 0;
    
        width: $line-width;
        height: $line-height;

        background-color: $color;
        border-radius: $radius;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s, background-color 0.2s ease-in;
    }

    &::after {
        content: "";
    
        position: absolute;
        top: $line-height + $lineMargin;
        left: 0;
    
        width: $line-width;
        height: $line-height;

        border-radius: $radius;
        background-color: $color;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s, background-color 0.2s ease-in;
    }
}

/* Active state */

.nav-icon--active {
    background-color: transparent !important;

    &::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    &::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
}